
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,300&display=swap');


*{
    padding: 0;
    margin: 0;
}

body{
    background-color: black;
    color: #ffffff;
}
h2{
    color: #ff0000;

}
.h25tyle2{
    color: #f0e000;
}
#subtitulo1{
    color: aquamarine;
}
/* estilos para los h1...h6*/
.h25tyle1, .h25tyle2, .h25tyle3{
    font-size: 50px;
}
h1{
    font-family: 'Merriweather', serif;
}
    
